* {
  box-sizing: border-box;
}

body {
  line-height: 1.65;
  margin: 0;
  text-align: center;
}

form {
  margin-bottom: 10px;
}

.center-block {
  float: none;
}

p {
  color: red;
  display: none;
}
